:root {
  --bg-color: darkslateblue;
  --color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: var(--bg-color); */
  background: linear-gradient(0deg, black, #1a172d);
  color: var(--color);
  width: 100vw;
  height: 100vh;
}

header {
  position: fixed;
  z-index: 200;
  background-color: transparent;
  width: 90vw;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  right: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
}

main {
  position: relative;
  z-index: 100;
  width: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

section {
  height: inherit;
}

main section:nth-child(1) {
  display: flex;
  justify-content: start;
  align-items: center;
}

main section:nth-child(1) h1 {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 7rem;
  display: initial;
  margin-left: 1rem;
}

main section:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: start;
}

main section:nth-child(2) .about-us {
  width: max-content;
  margin-top: 5rem;
  border: 1px solid var(--color);
  border-radius: 2rem 0 2rem 0;
  padding: 1rem;
}

main section:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}

main section:nth-child(3) img {
  position: absolute;
  filter: grayscale(1);
  border-radius: 50%;
  height: 100vh;
}

footer {
  position: fixed;
  z-index: 10;
  width: inherit;
  bottom: -50px;
}

footer p {
  font-size: 20rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color);
  opacity: 0.2;
}